// *TODO Сбросить дефолтные стили
* {
    margin: 0;
    padding: 0;
}

/***** ШАПКА *****/
// *TODO Стили шапки
.nav__section {
    .nav__container {
        
        // *TODO Верхний слой шапки
        .nav__top {
            background: rgb(221, 221, 221);
            background-image: url(../images/header_mask.png);
            background-repeat: no-repeat;
            background-position: center;
            
            padding: 0px 100px;
            
            height: 43px;
            
            border-bottom: 1px rgb(160, 160, 160) solid;

            display: flex;
            justify-content: flex-end;
            align-items: center;
            gap: 10px;

            font-family: 'Roboto', sans-serif;
            
            
            .nav__top-link {
                color: rgb(124, 124, 124);
                text-decoration: none;
            }
            
            .nav__top-link:hover {
                text-decoration: underline;
            }

        }

        // *TODO Средний слой шапки
        .nav__contacts {
            padding: 0px 100px;
            margin: 20px 0;
            
            display: flex;
            justify-content: space-between;
            align-items: center;
            
            font-family: 'Roboto', sans-serif;
            font-size: 1.1rem;
            
            color: #666;
            
            .logo {
                height: 45px;
            }

            .contacts__info-container {
                display: flex;
                align-items: center;
                gap: 40px;
                
                .contacts__info {
                    display: flex;
                    flex-direction: column;
                    
                    .text-highlight-1 {
                        color: #71a9ab;
                    }
                }
            }

            .cart__container {
                display: flex;
                align-items: center;
                font-size: 15px;

                gap: 10px;
                
                .cart-icon {
                    height: 45px;
                }

                // *TODO Выделение для кол-ва товаров
                .text-highlight-2 {
                    color: #71a9ab;
                    text-decoration: underline dashed;
                }
                
                // *TODO Цена в корзине
                .text-price {
                    color: #71a9ab;
                }

            }
            
        }

        // *TODO Контейнер навигации
        .nav__bottom {
            padding: 10px 100px;
            
            background-image: url(../images/menu_bg.png);
            background-image: url(../images/white_brush.png);
            background-color: #6ba5a7;
            background-size: cover;
            
            display: flex;
            justify-content: space-between;
            align-items: center;
            
            font-size: 18px;
            font-family: 'Roboto', sans-serif;
            text-transform: uppercase;
            
            
            .navigation-links {
                display: flex;
                gap: 30px;
            }
            
            .navigation-links>a {
                text-decoration: none;
                color: #FFF;
            }
            
            .navigation-link:hover {
                text-decoration: underline;
            }

            // *TODO Поисковая строка
            .search-bar {
                padding-right: 25px;
                background: url("https://static.thenounproject.com/png/101791-200.png") no-repeat right;
                background-size: 25px;
                background-color: #fff;
                border: none;

                cursor: pointer;
                
                padding: 5px;
                width: 400px;
            }
            
        }
        
    }
}
/***** End ШАПКА *****/



/***** БОКОВОЕ МЕНЮ *****/
// *TODO Стили бокового меню

.aside__container {
    float: left;
    height: fit-content;
    width: 270px;

    background: #eeeeee;


    .aside__catalog {
        display: flex;
        align-items: center;

        padding: 5px 10px;

        color: #FFF;

        font-size: 15px;
        font-family: 'Roboto', sans-serif;

        height: 4rem;
        background: #73aaab;


    }
    .catalog__body {
        display: flex;
        flex-direction: column;
        gap: 17px;

        padding: 15px;
        color: #666666;
        
        font: 16px 'Roboto', sans-serif;
        
        a {
            color: #666666;
            padding: 5px;
        }
        a:hover {
            background: #73aaab;
            transition: 0.1s ease-in-out;
            color: #FFF;
        }
        
        details > a{
            margin-top: 10px;
            text-decoration: none;
        }

        summary {
            text-transform: uppercase;
        }
        
        .catalog__list {
            display: flex;
            flex-direction: column;
            gap: 10px;
            margin-top: 10px;
        }

        .catalog__link {
            padding-left: 20px;
            padding: 10px;
            list-style: none;
            cursor: pointer;
        }

        .catalog__link:hover {
            background: #73aaab;
            transition: 0.1s ease-in-out;
            color: #FFF;
        }
    }
    .heading {
        text-transform: uppercase;
        text-decoration: none;
    }
}
/***** End БОКОВОЕ МЕНЮ *****/


/***** ОСНОВНОЙ КОНТЕНТ *****/

header {
    display: flex;
    gap: 35px;
    padding: 0px 100px;
    margin-top: 2.4rem;
}

.main__banners {
    display: flex;
    gap: 15px;

    .slideshow-container {
          
    }

    .cards-container {
        display: flex;
        flex-direction: column;
        align-items: center;

        gap: 20px;

        .banner-card {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 10px;
            background-color: rgb(228, 228, 228);
            width: 235px;
            height: 100px;
        }

        .banner-img {

        }
    }
}

main {
    .about-company__container {
        display: flex;
        border: 1px rgb(198, 198, 198) solid;
        color: #666666;
       
        .about-company-1 {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 70%;

            background: rgb(228, 228, 228);

            padding: 60px 10px;
            font-family: 'Roboto', sans-serif;
            font-size: 15px;
            text-transform: uppercase;

        }
        .about-company-2 {
            padding: 10px;
            display: flex;
            flex-direction: column;
        }
    }
}

/***** End ОСНОВНОЙ КОНТЕНТ *****/
